@import url('https://fonts.googleapis.com/css2?family=Metal+Mania& beefserifdisplay=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Concert+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@700&family=Jost:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rubik:ital@1&family=Signika:wght@300..700&family=Varela+Round&display=swap');

		*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        } 
        
        html,body{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100%;
        background-color: #f9faff;
        }
        
        nav{
            width: 100%;
            height: 80px;
            background: white;
            border-bottom: #dadada;
            background-color: #f9faff;
            
        }
        
        label.logo{
            font-size: 5rem;
            color: #0c0367;
            line-height: 80px;
            font-family: 'Metal Mania';
            margin-top: 3.5rem;
            margin-left: 7rem;
        }
        
        nav ul{
           float: right;
            list-style-type: none;
           
        }
        
        nav ul li{
            display: inline-block;
            line-height: 6rem;
            margin-top: 0.5vw;
        }
       .main nav ul li a{
            text-decoration: none;
            color: #000;
            transition: 0.5s;
            text-transform: capitalize;
            padding: 8px 38px;
            font-size: 1rem;
            font-family: 'Varela Round';
            font-weight: 600;
            border-bottom: #000;
            transition: 0.5s;
            /* animation-name: mubin1;
            animation-duration: 1s;
            animation-iteration-count:1; */
       }
       .main nav ul li a{
        position: relative;
       }
       a::before{
        content: "";
        position: absolute;
        bottom: -2px;
        height: 6px;
        width: 0;
        background: #000;
        border-radius: 50px;
        transition: width 0.3s ease;
       }
       a:hover::before{
        width: 70%;
       }


        .main nav ul li a::after{
            text-decoration: underline;
            text-underline-offset: 5px;
            transition: 2s;
            color:#000;
            transition: 0.5s;
            text-transform: capitalize;
            padding: 8px 38px;
            font-family:'Jost', sans-serif;
            font-size: 3rem;
            font-family: 'Varela Round';
            font-weight: 600;
            border-bottom: #080337;
            transition: 0.5s;
            /* transform: scaleX(0); */
            /* animation-name: mubin1;
            animation-duration: 1s;
            animation-iteration-count:2; */
        }
        .main nav ul li a:hover::after{
            width: 100%;
        }
        /* @keyframes mubin1{
            form{
                width:0px
            }
            to{
                width: 30px;
            }
        } */
      
       .main nav ul li a.active{
            text-underline-offset: 5px;
            border-bottom: #080337;
            transition: 0.5s;
            font-family: 'Varela Round';
            animation-name: mubin1;
            animation-duration: 1s;
            animation-iteration-count:1;
        }
        #checkbtn{
            float: right;
            line-height: 80px;
            margin-right: 10px;
            font-size: 30px;
            color: white;
            display: none;
        }
        #check{
            display: none;
        }
        #check:checked ~ ul{
            left: 0;
        }
        .main nav ul button{
            background-color: #fc2347;
            color: #fff;
            text-shadow: 2px #fff;
            font-size: 1rem;
            padding: 0px 35px;
            /* margin: 5vw 45vw; */
            font-family: 'Varela Round';
            letter-spacing: 3px;
            font-weight: 600;
            border-radius: 100px;
            border: 4px  white;
            /* display: flex; */
            /* justify-content: center; */
            /* margin: 1rem 1%; */
            font-weight: 600;
        }

        .main nav ul button:hover{
            background-color: #eb002f;
            color: #fff;
            transition: 0.3s;
        }
        
        .main{
            width: 100%;
            height: 100%;
            position: relative;
         }
         
         .content{
             width: 100%;
             height: calc(100% - 10vh);
             display: flex;
             position: relative;
         }
         .left{
             height: 100%;
             width: 45%;
             padding: 7vw 6vw;
             font-family: 'Varela Round'; 
             font-style: normal;
         }
         
         .left h1{
             font-size: 5vw;
             color: #080337;
             font-weight: 900;
         }
         
         .left p{
             font-size: 1.1vw;
             font-weight: 500;
             margin-top: 3rem;
             color: #787ca8;
         }
         
         .left #bt1{
             background-color: #0c0367;
             color: #fff;
             font-size: 3rem;
             padding: 35px 80px;
             margin-top: 5rem;
             font-family: sans-serif;
             font-weight: 600;
             border-radius: 100px;
             border: 2px  white;
         }
        
         .left .divbtn #bt2{
            background-color: #8f6dff;
            color: #fff;
            font-size: 3rem;
            padding: 35px 80px;
            margin-top: 5rem;
            margin-left: 2vw;
            font-family: sans-serif;
            font-weight: 600;
            border-radius: 100px;
            border: 2px  white;
        }
         .left #bt1:hover{
             background-color:  #1900ff;;
             color: #fff;
             border-radius: 500px;
         }
         .left #bt2:hover{
            background-color:  #7951fd;
            color: #fff;
            border-radius: 500px;
        }
         .right{
            height: 100%;
            width: 50%;
         
         }
         
         .right img{
             width: 90%;
             height: calc(100% - 10vh);
             margin-top: 3vw;
             margin-left: 4vw;
         }

         .main{
            width: 100%;
            height: 100%;
            position: relative;
         }

         .left-mob{
            display: none;
         }


         /* ---------About section start ------------------- */

         .left2{
            height: 100%;
            width: 100%;
            padding: 7vw 6vw;
            font-family: 'Varela Round'; 
            font-style: normal;
        }
        
        .left2 h5{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            color: #080337;
            font-weight: 800;
            font-family: "Quicksand", sans-serif;
            text-transform: uppercase;
            letter-spacing: 5px;
           
       }

        .left2 h1{
            font-size: 5.5rem;
            color: #080337;
            font-weight: 900;
            display: flex;
            justify-content: center;
        }

        .main{
            /* width: 100%;
            height: 100%; */
            position: relative;
         }
         
         .content{
             width: 100%;
             height: calc(100% - 10vh);
             display: flex;
             position: relative;
         }

         .right2{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content:center;
         }

        .right2 #img1{
            height: 12vh;
            width: 6vw;
            margin: 1px 100px;
            margin-left: 14rem;
            border-radius: 50%;
            box-shadow: 10px 20px 20px 20px #ebebeb;
        }
        .right2  #img2{
            height: 12vh;
            width: 6vw;
            margin: 1px 100px;
            margin-left: 14rem;
            border-radius: 50%;
            box-shadow: 10px 20px 20px 20px #ebebeb;
        }
        .right2  #img3{
            height: 12vh;
            width: 6vw;
            margin: 1px 100px;
            margin-left: 14rem;
            border-radius: 15%;
            box-shadow: 10px 20px 20px 20px #ebebeb;
        }
        .right2  #img4{
            height: 12vh;
            width: 6vw;
            margin: 1px 100px;
            margin-left: 14rem;
            border-radius: 30%;
            box-shadow: 10px 20px 20px 20px #ebebeb;
        }
     
        .right2 h3{
            color: #080337;
            font-size: 3.5rem;
            display:flex ;
            margin-left: 0rem;
            margin-bottom: -5rem;
            margin-top: 3rem;
            justify-content: center;
            text-align: center;
        }

        .right2 p{
            color:#787ca8;
            font-size: 2rem;
            padding-top: 8rem;
            margin-right: 4rem;
            margin-left: 3rem;
            text-align: center;
        }
        .main3{
            display: flex;
            justify-content: center;
        }
        .main3 .moreview{
            background-color: #fc234e;
            color: #fff;
            font-size: 2rem;
            padding: 17px 55px;
            /* margin: 5vw 45vw; */
            font-family: sans-serif;
            font-weight: 600;
            border-radius: 80px;
            border: 2px  white;
            display: flex;
            justify-content: center;
            margin: 7rem 0rem;
        }

        /* ------Service section image and content start ------- */


.content4x{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.left4x{
    width: 50%;
    height: 80%;
    display: flex;
    position: relative;
}

.content4x .left4x #img4x{
    width: 72%;
    height: 100%;
    margin-left: 9vw;
    margin-top: 17vh;
    margin-bottom: 18vh;
}
.right4x{
    width: 55%;
}

/* .content4x .right4x h2{
    font-size: 6rem;
    color: #080337;
    margin-top: 40vh;
    margin-left: 11rem;
    font-family: 'Varela Round' ;
    font-weight: 700;
    display: flex;
} */
.content4x .right4x php{
    font-size: 6.5rem;
    color: #080337;
    position: absolute;
    top:37vh;
    margin-left: 11rem;
    margin-top: 4rem;
    font-family: 'Varela Round';
    font-weight: 600;
}
.content4x .right4x p{
    font-size: 2.5rem;
    color: #080337;
    position: absolute;
    top: 50vh;
    margin-left: 11rem;
    margin-top: 4rem;
    font-family: 'Varela Round';
    font-weight: 600;
    color: #787ca8;
}

.content4x .right4x p1{
    font-size:3rem;
    color: #080337;
    position: absolute;
    top: 65vh;
    margin-left: 11rem;
    margin-top: 7rem;
    font-family: "jost";
    font-weight: 500;
}

.content4x .right4x p2{
    font-size: 4rem;
    color: #080337;
    position: absolute;
    top: 65vh;
    margin-left: 45rem;
    margin-top: 7rem;
    font-family: "jost";
    font-weight: 500;
}

.content4x .right4x p3{
    font-size: 7rem;
    color: #080337;
    position: absolute;
    top: 80vh;
    margin-left: 11rem;
    font-family: "jost";
    font-weight: 600;
    font-family: "Varela Round";
}

.content4x .right4x p4{
    font-size: 7rem;
    color: #080337;
    position: absolute;
    top: 80vh;
    margin-left: 45rem;
    font-family: "jost";
    font-weight: 600;
    font-family: "Varela Round";
}
.main3 .moreview:hover{
            background-color: #ff0033;
            color: #fff;
        }


        /* -----develment design and marketing ------------- */

        .content5{
            display: flex;
            margin-top: 7vw;
        }
        .left5{
            width: 50%;
            height: 100%;
            margin-top: 10vh;
        }
        .left-mob5{
            display: none;
        }

        .content5 .left5 h1{
            font-size: 3.5vw;
            color: #080337;
            font-weight: 900;
            margin-left: 9vw;
            margin-bottom: 4vh;
            /* font-family: 'Bree Serif'; */
            font-family: "Varela Round";
            font-weight: 700;
            font-style: normal;
          
            }

        .content5 .left5 p{
            font-size: 1.2vw;
            color: #787ca8;
            font-family: 'Arial';
            font-weight: 900;
            margin-left:9vw;
            margin-bottom: 6vh;
        }

        .content5 .left5 p1{
            font-size: 1.3vw;
            color: #080337;
            font-weight: 600;
            margin-left: 11vw;
            padding-bottom: 8vw;

        }

        .right5{
            width: 50%;
            height: 100%;
            margin-top: 30vh;
        }
        .right5 h5{
            font-size: 1.5vw;
            color: #080337;
            font-weight: 700;
            margin-left: 1vw;
        }
        
        .right5 h3{
            height: 1vw;
            margin-left: 38vw;
            font-weight: 700;
            font-size: 3rem;
            margin-bottom: 1.6rem;
        }

        .right5 .eight8 h4{
            height: 1vw;
            margin-left: 32vw;
            font-weight: 700;
            font-size: 3rem;
            margin-bottom: 1.6rem;
        }

        .right5 .seven7 h2{
            height: 1vw;
            margin-left: 26vw;
            font-weight: 700;
            font-size: 3rem;
            margin-bottom: 1.6rem;
        }

        

        .right5 .pb1{
            height:24px;
            width:80%;
            background-color: #ff2e57;
            border-radius: 50px;
            margin-left: 1vw;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        .right5 .pb2{
            height:24px;
            width:68%;
            background-color: #ff2e57;
            border-radius: 50px;
            margin-left: 1vw;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        .right5 .pb3{
            height:24px;
            width:57%;
            background-color: #ff2e57;
            border-radius: 50px;
            margin-left: 1vw;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        h2{
            width: 2.5rem;
            margin-left: 27vw;
            font-weight: 800;
            
        }

        h4{
            width: 1.5rem;
            margin-left: 33vw;
            font-weight: 800;
        }

        /* shape devider image start */

        /* img{
            width: 100%;
            height: 100%;
            transform: rotate(180deg);
            margin-top: 10rem;
        }
        
        .left6{
            width: 100%;
            height: 100%;
            position: relative;
        }
        
        .left6 h3{
            
            position: absolute;
            top: 57rem;
            left: 70rem;
            font-size: 1.5rem;
            color: #fff;
            font-size: 4.5rem;
            font-family: 'Varela Round';
        }
        
        .left6 h1{
            position: absolute;
            top: 65rem;
            left: 40rem;
            font-size: 9rem;
            font-weight: 700;
            color: #fff;
            font-family: 'Varela Round';
        }
        
        .left6 h1-0 .content6{
            width: 100%;
            height: 100%;
        }
        .content6 .bg{
            position: absolute;
            top: 132rem;
            left: 150rem;
            font-size: 3.5rem;
            color: #fff;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            z-index: 2;
        }
        
        .left6 h1-1{
            position: absolute;
            top: 46rem;
            left: 139rem;
            font-size: 4.5rem;
            color: #fff;
            text-align: center;
            font-family: 'Varela Round';
        }
        .left6 h1-2{
            position: absolute;
            top: 50rem;
            left: 193rem;
            font-size: 4.5rem;
            color: #fff;
            text-align: center;
            font-family: 'Varela Round';
        }
        .left6 h1-3{
            position: absolute;
            top: -12rem;
            left: -47rem;
            font-size: 4.5rem;
            color: #ffffff;
            text-align: center;
            font-family: 'Varela Round';
            z-index: 2;
        }
        .left6 h1-4{
            position: absolute;
            top: -12rem;
            left: 10rem;
            font-size: 4.5rem;
            color: #ffffff;
            text-align: center;
            font-family: 'Varela Round';
            z-index: 2;
        }
        
        .left6 h3-0{
            position: absolute;
            font-size: 3rem;
            top: 61rem;
            color: #fff;
            left: 136rem;
            text-align: center;
            z-index: 3;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .left6 h3-1{
            position: absolute;
            font-size: 3rem;
            top: 61rem;
            color: #fff;
            left: 182rem;
            text-align: center;
            z-index: 3;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .left6 h3-2{
            position: absolute;
            font-size: 3rem;
            top: 130rem;
            color: #fff;
            left: 31rem;
            text-align: center;
            z-index: 3;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .left6 h3-3{
            position: absolute;
            font-size: 3rem;
            top: 128rem;
            color: #fff;
            left: 89rem;
            text-align: center;
            z-index: 3;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .right6{
            position: absolute;
            top: 500vh;
        }
        
        .right6 .card1{
            width: 44rem;
            height: 60rem;
            border-radius: 50px;
            position: absolute;
            top: -19vw;
            margin-left: 51vw;
            background-color: #fff;
            opacity: 25%;
        }
        
        .right6 .card2{
            width: 39rem;
            height: 50rem;
            border-radius: 50px;
            position: absolute;
            top: -16vw;
            margin-left: 70vw;
            background-color: #fff;
            opacity: 25%;
        }
        
        
        .right6 .bgimg2{
            width: 100vw;
            height: 100%;
        }
        
        .right6 .card3{
            width: 46rem;
            height: 53rem;
            border-radius: 50px;
            position: absolute;
            top: 9vw;
            margin-left: 10vw;
            background-color: #fff;
            opacity: 25%;
        }
        
        .right6 .card4{
            width: 46rem;
            height: 53rem;
            border-radius: 50px;
            position: absolute;
            top: 9vw;
            margin-left: 32.5vw;
            background-color: #fff;
            opacity: 25%;
        }

        .content6-1{
            clear: both;
        } */

                /* --------number ffect sedction staert------------------------ */

                .content7{
                    position: relative;
                    margin-top: 10vh;
                    width: inherit;
                }
                
                .back{
                    position: relative;
                    display: flex;
                    width:inherit;
                }
                
                .content7 .back p{
                    font-size: 17rem;
                    margin-top: 17vh;
                    margin-bottom: 15vh;
                    margin-left: 8.5vw;
                    font-family: 'Varela Round';
                    font-weight: 900;
                    opacity: 5%;
            
                }
                
                .content7 .back p1{
                    font-size: 17rem;
                    margin-top: 17vh;
                    margin-bottom: 15vh;
                    margin-left: 15vw;
                    font-family: 'Varela Round';
                    font-weight: 900;
                    opacity: 4%;
                }
                
                .content7 .back p2{
                    font-size: 17rem;
                    margin-top: 17vh;
                    margin-bottom: 15vh;
                    margin-left: 16vw;
                    font-family: 'Varela Round';
                    font-weight: 900;
                    opacity: 4%;
                
                }
                
                .content7 .back pf1{
                    position: absolute;
                    top: 21.5rem;
                    left: 21.5rem;
                    margin-bottom: 145vh;
                    font-size: 5rem;
                    font-family: 'Varela Round';
                    font-weight: 900;
                    color: #080337;
                }
                
                .content7 .back pf2{
                    position: absolute;
                    top: 21.5rem;
                    left: 114rem;
                    font-size: 5rem;
                    font-family: 'Varela Round';
                    font-weight: 900;
                    color: #080337;
                }
                
                .content7 .back pf3{
                    position: absolute;
                    top: 21.5rem;
                    left: 66rem;
                    font-size: 4rem;
                    font-family: 'Varela Round';
                    font-weight: 900;
                    color: #080337;
                }

                /* ---we provide section start----------------- */

                .content-8{
   
                    display: flex;
                    position: relative;
                }
                .left-8{
                    height: 100%;
                    width: 50%;
                    padding: 10vw 9vw;
                    font-family: 'Varela Round'; 
                    font-style: normal;
                }
                
                .left-8 h1{
                   letter-spacing: 2.5px;
                    font-size: 1.3vw;
                    color: #080337;
                    font-family: "DM Sans" sans-serif;
                    font-style: normal;
                    font-weight: 500;
                }
                
                .left-8 h1-0{
                   letter-spacing: 1.4px;
                    font-size: 3.6vw;
                    color: #080337;
                    font-family: "DM Sans" sans-serif;
                    font-weight: 800;
                }
                
                .left-8 p{
                    font-size: 1.1vw;
                    font-weight: 500;
                    color: #787ca8;
                }
                
                
                
                .left-8 .divbtn-8 #bt2{
                   background-color: #8f6dff;
                   color: #fff;
                   font-size: 2rem;
                   padding: 40px 100px;
                   font-family: sans-serif;
                   font-weight: 600;
                   border-radius: 100px;
                   border: 2px  white;
                   letter-spacing: 2px;
                
                }
                
                .left-8 #bt2:hover{
                   background-color:  #7951fd;
                   color: #fff;
                   border-radius: 50%;
                }
                .right-8{
                   height: 100%;
                   width: 50%;
                }
                
                .right-8 #img{
                   width: 85%;
                   height: 50%;
                   margin-top: 16vh;
                   margin-left: 0rem;
                }


                /* p-------------------------- blog and artial section start ----------------------- */


                .content9{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    margin-top: 16vh;
                }
                .content9 .up9 p{
                    font-size: 3rem;
                    font-family: "Quicksand", sans-serif;
                    color: #080337;
                    font-weight: 600;
                    letter-spacing:4px;
                    display: flex;
                    justify-content: center;
                }
                
                .content9 .up9 p-0{
                    font-size: 6rem;
                    letter-spacing: 2px;
                    font-family: "Quicksand", sans-serif;
                    font-weight: 800;
                    display: flex;
                    justify-content: center;
                    color: #080337;
                    margin-bottom: 6vh;
                }
                
                .content9 .up9 p-0:hover{
                    color: #ff2e57;
                    transition: 1s;
                }
                
                .below9{
                    width: 100%;
                    position: relative;
                } 
                
                .card1{
                    display: flex;
                }
                .below9 .card1 #img1 {
                    width: 22%;
                    margin-left: 24rem;
                    border-radius: 40px 0px 0px  0px;
                    margin-top: 0px;
                    height: 22%;
                }
                .below9 .card1 #img2 {
                    width: 22%;
                    margin-left: 6.5vw;
                    border-radius: 40px 0px 0px  0px;
                    margin-bottom: 2vh;
                }
                .below9 .card1 #img3 {
                    width: 22%;
                    margin-left: 6.5vw;
                    border-radius: 40px 0px 0px  0px;
                    margin-bottom: 2vh;
                }
                
                .below9-0{
                    position: relative;
                    display: flex;
                }
                
                .below9-0 .cc p{
                    margin-top: 0px;
                    font-family: 'Varela Round';
                    font-size: 2rem;
                    font-weight: 600;
                    margin-left: 21rem;
                    color: #080337;
                }
                
                .below9-0 .cc p:hover{
                    color: #ff2e57;
                    transition: 0.5s;
                }
                .below9-0 .cc1 p-0{
                    margin-top: 0px;
                    font-family: 'Varela Round';
                    font-size: 2rem;
                    font-weight: 600;
                    margin-left: 15rem;
                    color: #080337;
                }
                .below9-0 .cc1 p-0:hover{
                    color: #ff2e57;
                    transition: 0.5s;
                }
                
                .below9-0 .cc2 p-1{
                    margin-top: 0px;
                    margin-left: 21rem;
                    font-family: 'Varela Round';
                    font-size: 2rem;
                    font-weight: 600;
                    color: #080337;
                }
                .below9-0 .cc2 p-1:hover{
                    color: #ff2e57;
                    transition: 0.5s;
                }
                
                
                .below9-0 .cc button{
                    margin-left: 22rem;
                    margin-top: 0rem;
                    font-family: 'Varela Round';
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #ff2e57;
                    font-weight: 700;
                }
                .below9-0 .cc1 button{
                    margin-left:15rem;
                    margin-top: 0rem;
                    font-family: 'Varela Round';
                    font-size:1.5rem;
                    font-weight: 500;
                    color: #ff2e57;
                    font-weight: 700;
                }
                .below9-0 .cc2 button{
                    margin-left: 21rem;
                    margin-top: 0rem;
                    font-family: 'Varela Round';
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #ff2e57;
                    font-weight: 700;
                }
                
                
                .divbtn-9{
                    margin-top: 1vh;
                    display: flex;
                    justify-content: center;
                 }
                .content9 .divbtn-9 #bt2{
                    background-color: #ff2e57;
                    color: #fff;
                    font-size: 2rem;
                    padding: 35px 100px;
                    margin-top: 5rem;
                    font-family: sans-serif;
                    font-weight: 600;
                    border-radius: 100px;
                    border: 2px  white;
                    display: flex;
                    justify-content: center;
                 }
                 .divbtn-9 #bt2:hover{
                    background-color:  #fd1342;
                    transition: 0.3s;
                    color: #fff;
                    border-radius: 500px;
                 }

                 /* ---------------------foter secctio start------------------------ */


                 footer{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 80vh;
                    background-color: #0003ff;
                    margin-left: -7px;
                    padding: 60px 10%;
                }
                
                ul{
                    list-style: none;
                }
                
                .footer-col{
                    width: 25%;
                }
                
                .footer-col h4{
                    position: relative;
                    margin-bottom: 6rem;
                    margin-left: 0px;
                    font-family: 'Varela Round';
                    font-weight: 500;
                    font-size: 5rem;
                    color: #fff;
                    text-transform: capitalize;
                }
                form{
                    font-size: 2.7rem;
                    font-family: 'Varela Round';
                    color:  #bdb6b6;
                }
                form:hover{
                    color: #fff;
                    text-decoration: underline;
                    font-size: 3rem;
                }
                input{
                    font-size: 2.3rem;
                }
                
                .footer-col h4::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                    background-color: #fff;
                    height: 2px;
                    width: 340px;
                }
                
                ul li:not(:last-child){
                    margin-bottom: 12px;
                }
                
                ul li a{
                    font-size: 3rem;
                    font-family: 'Varela Round';
                    font-weight: 250;
                    line-height: 1.6;
                    display: block;
                    text-transform: capitalize;
                    color: #bdb6b6;
                    text-decoration: none;
                    transition: 0.4s;
                    margin-bottom: 3vh;
                }
                
                footer ul li a:hover{
                    color: white !important;
                    background-color: #0003ff !important;
                    font-weight: 600;
                    text-decoration: underline;
                }
                
                footer .links a{
                    display: inline-block;
                    height: 44px;
                    width: 44px;
                    color: rgb(255, 255, 255);
                    background-color: rgba(40, 130, 214, 0.8) !important;
                    margin: 0 8px 8px 0;
                    text-align: center;
                    line-height: 44px;
                    border-radius: 50%;
                    z-index: 10;
                    margin-bottom: 5vh;
                }
                #img10{
                    transform: rotate(180deg);
                    width: 98.8vw;
                    top: 756vh;
                    z-index: 10;
                    left: 0px;
                    bottom: 47vh;
                    position: absolute;
                }
                

         /* @media (max-width: 500px) {
                label.logo{
                    margin: 1px 15px;
                    margin-top: 7rem;
                    font-size: 11rem;
                }
                .container-fluid{
                    width: 100%;
                }
                .content{
                
                }
                .content .left h1{
                    width: 100rem;
                    font-size: 10.5rem;
                    margin-top: 12rem;
                    
                }
                nav ul{
                    width: 100%;
                    height: 33vh;
                    background: black;
                    position: absolute;
                    top:80px;
                    left: -100%;
                    opacity: 1;
                    transition: .06S;
                    z-index: 2;	
                }
            
                nav ul li{
                    display: block;
                    text-align: center;
                    line-height:50px;
                    margin:15px;
            
                }
            
                .main{
                   
                    flex-direction: column;
                    position: relative;
                 }
                 
                 .content{
                     width: 100%;
                     height: calc(100% - 80px);
                     display: flex;
                     position: relative;
                     flex-direction: column;
                 }
                 .left{
                     height: 50%;
                     width: 100%;
                     padding: 5vw 4vw;
                 }
                 
                 .left h1{
                     font-size: 4vw;
                 }
                 .left h1 span{
                     color: lightseagreen;
                     font-family: initial;
                     font-weight: bold;
                 }
                 
                 .left p{
                     font-size: 0.8rem;
                     font-weight: 500;
                     margin-top: 1.2rem;
                 }
                 
                 .left button{
                     background-color: lightseagreen;
                     font-size: 1.4rem;
                     padding: 9px 9px;
                     margin-top: 5rem;
                     font-family: sans-serif;
                     font-weight: 600;
                     border-radius: 15px;
                     border: 2px dotted white;
                 }
                 .left button:hover{
                     background-color: rgb(255, 255, 255);
                     color: lightseagreen;
                     border-radius: 25px;
                 }
                 .right{
                     height: 100%;
                     width: 100%;
                 }
                 
                 .right img{
            
                     width: 100%;
                     height: 100%;
                     
                 }
                 
            }
            .container-fluid{
                width: 10%;
            }
            .main{

            }
        nav{
            display: flex;

            width: 100vw;
            height: 80px;
            background: white;
            border-bottom: #dadada;
            background-color: #f9faff;
        }
        #img10{
            display: none;
        }
         

         @media (max-width:1200px) {
            #img10{
                display: none;
            }
        } */